<html>
    <head>
        <title>Django TB Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django TB Blog</a></h1>
        </div>

        <div>
            <p>published: 20.11.2018, 10:14</p>
            <h2><a href="">My first post</a></h2>
            <p> Okay this is cool</p>
        </div>

        <div>
            <p>published: 20.11.2018, 10:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Yeah Yeah</p>
        </div>
    </body>
</html>